main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 600px;
  border-radius: 1.42rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: #fff;
  box-shadow:
    o,
    4px,
    50px,
    2px rgba(0, 0, 0, 0.15);
}

.header {
  font-weight: 800;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-top: 1.14rem;
  height: 10.71rem;
  width: 100%;
  border-radius: 1.42rem 1.42rem 0 0;
  background-color: var(--color-accent);
  background-image: url(../../assets/Vector.svg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 2.85rem;
  color: #fff;
}
.form_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8.92rem;
}
.checkbox {
  width: 100%;
}

.input_container {
  margin-bottom: 1.07rem;
  width: 100%;
}

.signUp {
  margin-bottom: 1.07rem;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-accent);
  cursor: pointer;
}
